@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

styles *,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

:root {
    --primary-white: #F1f1f1;
    --primary-purple: #494165;
    --primary-pink: #B68B87;
    --primary-green: #72DA79;
    --secondary-purple: #6e5d9e;
    --secondary-purple-hover: #AE95F5;
    --secondary--green: #2FC781;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unkempt', sans-serif;
}

/** CSS RESET **/
/** Banner **/
.banner-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('./assets/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.banner-text {
    color: var(--secondary-purple);
    cursor: pointer;
    margin-bottom: 50px;

    h1 {
        font-size: 48px;
        font-weight: bold;
    }
}

/** Navigation **/
.navigation {
    padding-top: 400px;
    background-image: url('./assets/backsplash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        padding-top: 100px;
        margin-bottom: -5px;
    }
}

.link-container {
    position: relative;
}

.link {
    position: absolute;
    background-color: #0000;
    border: none;
    cursor: pointer;
}

#aboutMe {
    top: 0;
    left: -50px;
}

#contactMe {
    bottom: 30%;
    right: -50%;
}

#parents {
    bottom: 0;
    left: -30%;
}

#books {
    top: 0;
    right: -20%;
}

#events {
    bottom: -10%;
    right: -30%;
}

/** Author Section **/
.author-section {
    background: #b495f5;
    width: 100%;
    padding: 20px 0px;

    img {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        object-fit: cover;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    }
}

.content {
    max-width: 800px;
    line-height: 1.5rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
}

.content-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 1.5rem;

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        max-width: 800px;
    }

    button {
        color: white;
        padding: 12px 32px;
        border: 2px solid var(--secondary-purple);
        background-color: #0000;
        font-size: 18px;
        font-weight: bold;
        border-radius: 24px;
        cursor: pointer;
        transition: 200ms ease-in;
    }

    button:hover {
        background-color: #bc9eff;
        border: 2px solid white;
    }
}

.flipped {
    transform: scale(-1, -1);
    margin-bottom: 100px;
    margin-top: -5px;
}

/** Book Section **/
.homepage-book-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.book-content {
    max-width: 1200px;
    width: 100%;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

.book-section {
    margin-bottom: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.book-img {
    width: 250px;
    position: relative;

    #award {
        position: absolute;
        width: 120px;
        bottom: -40px;
        right: -50px;
    }
}

.book-blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    color: #b495f5;
    gap: 1.5rem;
    width: 700px;

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        max-width: 800px;
    }

    span {
        display: block;
    }

    button {
        color: white;
        padding: 12px 32px;
        background-color: #b495f5;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 24px;
        cursor: pointer;
    }
}

/** Footer **/
footer {
    svg {
        padding-top: 100px;
        margin-bottom: -5px;
    }
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 100px 0px;
    background-color: #b495f5;
    color: white;
    font-size: 18px;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    button {
        background-color: #0000;
        border: none;
        color: white;
        cursor: pointer;
    }
}

.footer-icons {
    display: flex;
    gap: 2rem;
    align-items: center;

    a {
        text-decoration: none;
        color: white;
    }
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.75);
}

/** About Section */
.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    margin: 0 2rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    img {
        width: 300px;
        border-radius: 24px;
    }
}

.about-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    h1 {
        font-size: 48px;
        color: var(--secondary-purple-hover);
    }

    p {
        font-size: 18px;
        max-width: 700px;
        text-align: center;
    }

    ul {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        width: 100%;
        gap: 24px;
    }

    .question-container {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 600;
        padding: 12px;
        border: 2px solid black;
        border-radius: 8px;
        gap: 25px;
        width: 100%;
        transition: background-color 0.2s ease-in;

        .question {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .answer {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    .question-container:hover {
        cursor: pointer;
        background-color: var(--secondary-purple-hover);
        color: white;
    }

    .question-container:nth-child(even) {
        background-color: var(--secondary-purple-hover);
        color: white;
    }
}

/** Events **/
.event-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    margin: 0 2rem;

    .event-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        h1 {
            font-size: 48px;
            color: var(--secondary-purple-hover);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
    }

    .ev-container {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: 600;
        padding: 12px;
        border: 2px solid black;
        border-radius: 8px;
        gap: 25px;
        width: 100%;
        transition: background-color 0.2s ease-in;

        .event {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
        }

        p {
            text-align: left;
        }
    }

    .ev-container:hover {
        cursor: pointer;
        background-color: var(--secondary-purple-hover);
        color: white;
    }

    .ev-container:nth-child(even) {
        background-color: var(--secondary-purple-hover);
        color: white;
    }
}

/** Contact Me **/
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    margin: 0 2rem;

    h1 {
        font-size: 48px;
        color: var(--secondary-purple-hover);
        margin-bottom: 12px;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;

        form {
            display: flex;
            flex-direction: column;
            gap: 12px;
            max-width: 600px;
            width: 100%;
        }

        .element-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: 18px;
        }

        input {
            padding: 8px;
            transition: border 0.2s ease;
        }

        input:focus {
            outline: 2px solid var(--secondary-purple-hover);
            outline-offset: -1px;
        }

        textarea {
            height: 200px;
            padding: 8px;
        }

        textarea:focus {
            outline: 2px solid var(--secondary-purple-hover);
            outline-offset: -1px;
        }

        input[type="submit"] {
            background-color: var(--secondary-purple-hover);
            color: white;
            border-radius: 6px;
            border: none;
            padding: 8px;
            font-size: 24px;
        }

        input[type="submit"]:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}

/** Parent Section **/
.parent-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    margin: 0 2rem;
    color: var(--secondary-purple-hover);

    .parent-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 800px;
        width: 100%;
        gap: 2rem;

        h1 {
            font-size: 48px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 12px;
            font-size: 18px;
        }

        p {
            max-width: 100%;
            line-height: 1.5;
            font-size: 18px;
        }
    }

    #last-ul {
        margin-left: 50px;
        padding: 10px 0px;
    }

}


/** Book Section **/
.book-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 350px;
    margin: 0 2rem;
}

.char-counter {
    font-size: 0.8rem;
    text-align: right;
    color: #666;
    margin-top: 4px;
    display: block;
}

.hidden {
    display: none;
}

.required {
    color: red;
}

#banner {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 130, 54, 0.95);
    z-index: 10;
    cursor: default;

    h1 {
        font-size: 18px;
        color: white;
        text-align: center;
    }
}

/** Seasonal Effects **/
#snow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

/** End of Seasonal Effects **/

@keyframes snowfall {
    0% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(100%);
    }
}


@media (max-width: 1024px) {
    .book-content {
        gap: 8rem;
    }

    .book-blurb {
        width: 500px;
    }

}

@media (max-width: 768px) {
    .book-content {
        flex-direction: column;
        gap: 5rem;
    }

    .book-blurb {
        width: 600px;
    }
}

@media (max-width: 600px) {
    .banner-text {
        padding-left: 20px;
    }

    .book-content {
        flex-direction: column;
        gap: 4rem;
    }

    .book-blurb {
        width: 300px;
    }

    .book-img {
        #award {
            width: 100px;
            right: -20px;
        }
    }

    #aboutMe {
        left: -30px;
    }

    #parents {
        left: -50px;
    }

    #books {
        right: -30px;
    }

    #contactMe {
        right: -80px;
    }

    #events {
        right: -20px;
    }


    .link-container {

        img {
            width: 250px;
        }

        .link {
            width: 120px;
        }

        svg {
            width: 100%;
        }
    }

    .about-blurb {
        h1 {
            text-align: center;
        }
    }

    .footer-links {
        font-size: 14px;
        gap: 1rem;
    }

    .footer-copyright {
        text-align: center;
        max-width: 200px;
        font-size: 14px;
    }

    .contact-section {
        .contact-container {
            textarea {
                height: 100px;
            }
        }
    }
}

@media (max-width: 400px) {
    .book-blurb {
        width: 200px;
    }

    #aboutMe {
        left: -20px;
    }

    #parents {
        left: -30px;
    }

    #books {
        right: -20px;
    }

    #contactMe {
        right: -50px;
    }

    #events {
        right: -20px;
    }


    .link-container {

        img {
            width: 180px;
        }

        .link {
            width: 80px;
        }

        svg {
            width: 100%;
        }
    }
}
