@import url('https://fonts.googleapis.com/css2?family=Unkempt:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p {
    max-width: 75ch;
    text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-padding-top: 3rem;
    }
}

:root {
    --primary-white: #F1f1f1;
    --primary-purple: #494165;
    --primary-pink: #B68B87;
    --primary-green: #72DA79;
    --secondary-purple: #6e5d9e;
    --secondary-purple-hover: #AE95F5;
    --secondary--green: #2FC781;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unkempt', sans-serif;
}

/** CSS RESET **/
/** Banner **/
.banner-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('./assets/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.banner-text {
    color: var(--secondary-purple);
    margin-bottom: 50px;

    h1 {
        font-size: 48px;
        font-weight: bold;
    }
}

/** Navigation **/
.navigation {
    padding-top: 500px;
    background-image: url('./assets/backsplash.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-container {
    position: relative;
}

.link {
    position: absolute;
    background-color: #0000;
    border: none;
    cursor: pointer;
}

#aboutMe {
    top: 0;
    left: -50px;
}

#contactMe {
    bottom: 30%;
    right: -50%;
}

#parents {
    bottom: 0;
    left: -30%;
}

#books {
    top: 0;
    right: -20%;
}

#events {
    bottom: -10%;
    right: -30%;
}

/** Author Section **/
.author-section {
    background: #b495f5;
    width: 100%;
    padding: 20px 0px;

    img {
        border-radius: 50%;
        height: 250px;
        width: 250px;
        object-fit: cover;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    }
}

.content {
    max-width: 800px;
    line-height: 1.5rem;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 2rem;
}

.content-blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 1.5rem;

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        max-width: 800px;
    }

    button {
        color: white;
        padding: 12px 32px;
        border: 2px solid var(--secondary-purple);
        background-color: #0000;
        font-size: 18px;
        font-weight: bold;
        border-radius: 24px;
        cursor: pointer;
        transition: 200ms ease-in;
    }

    button:hover {
        background-color: #bc9eff;
        border: 2px solid white;
    }
}

.flipped {
    transform: scale(-1, -1);
    margin-bottom: 100px;
    margin-top: -1px;
}

/** Book Section **/
.book-content {
    max-width: 1200px;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;
}

.book-section {
    margin-bottom: 300px;
}

.book-img {
    width: 250px;
    position: relative;

    #award {
        position: absolute;
        width: 120px;
        bottom: -40px;
        right: -50px;
    }
}

.book-blurb {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    color: #b495f5;
    gap: 1.5rem;

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 18px;
        max-width: 800px;
    }

    span {
        display: block;
    }

    button {
        color: white;
        padding: 12px 32px;
        background-color: #b495f5;
        font-size: 18px;
        font-weight: bold;
        border: none;
        border-radius: 24px;
        cursor: pointer;
    }
}

/** Footer **/
.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 100px 0px;
    background-color: #b495f5;
    color: white;
    font-size: 18px;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    button {
        background-color: #0000;
        border: none;
        color: white;
    }
}

.footer-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.75);
}
